# =================================
# Application
# =================================
APP_NAME="FarmaTupa_API"
APP_VERSION="1.0.0"
APP_DESCRIPTION="Api para FarmaTupa, una plataforma para la fidelizacion y canjeo de puntos"
ENVIRONMENT=development   #development | production 

# =================================
# PostgreSQL (Async SQLAlchemy)
# =================================
DATABASE_URL=postgresql+asyncpg://<usuario>:<password>@localhost:5432/yari_db
TEST_DATABASE_URL=postgresql+asyncpg://<usuario>:<password>@localhost:5432/yari_db_test


# =================================
# JWT (Authentication)
# =================================
SECRET_KEY=tu_secret_key_aqui


# =================================
# Cloudinary (Video & Image Storage)
# =================================
CLOUDINARY_CLOUD_NAME=dxxyswcjv
CLOUDINARY_API_KEY=tu_cloudinary_api_key
CLOUDINARY_API_SECRET=tu_cloudinary_api_secret
CLOUDINARY_FOLDER_NAME=YARI

# =================================
# CORS
# =================================

DEV_ORIGINS="http://localhost:5173,http://localhost:5174,http://localhost:5175"
PROD_ORIGINS="svelpy.com"

# =================================
# Initial Seed Data
# =================================
SEED_ADMIN_EMAIL_1=bgonsalescoronado@gmail.com
SEED_ADMIN_NAME_1=Brandon
SEED_ADMIN_LASTNAME_1=Gonsales Coronado
SEED_ADMIN_USERNAME_1=BackendSvelpyLeader
SEED_ADMIN_PASSWORD_1=TuPasswordSeguro123

SEED_ADMIN_EMAIL_2=luis111ferrivera@gmail.com
SEED_ADMIN_NAME_2=Luis Fernando
SEED_ADMIN_LASTNAME_2=Rivera Hinojosa
SEED_ADMIN_USERNAME_2=FrontendSvelpyLeader
SEED_ADMIN_PASSWORD_2=TuPasswordSeguro123

SEED_ADMIN_EMAIL_3=pardotupav@gmail.com
SEED_ADMIN_NAME_3=Vladimir Hugo
SEED_ADMIN_LASTNAME_3=Pardo Tupa
SEED_ADMIN_USERNAME_3=QASvelpyLeader
SEED_ADMIN_PASSWORD_3=TuPasswordSeguro123